
BokToppen/obj/Debug/net8.0/refint/BokToppen.dll
BokToppen/obj/Debug/net8.0/BokToppen.sourcelink.json
BokToppen/obj/Debug/net8.0/BokToppen.pdb
BokToppen/obj/Debug/net8.0/BokToppen.dll
BokToppen/obj/Debug/net8.0/BokToppen.AssemblyInfo.cs
BokToppen/bin/Debug/net8.0/BokToppen.pdb
BokToppen/bin/Debug/net8.0/BokToppen.dll
*.dll
*.cache
*.dll
